    <meta name="referrer" content="always" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css" />
    <style type="text/css">
        .navbar-logo { height:30px;margin-top:-12px;padding-right:8px; }
    </style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdn.shoelace.style/1.0.0-beta24/shoelace.js"></script>
